body {
    background-image: url("backgroundpl.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    font-size: 130px;
    color:white;
    text-align:left;
    font: 5.2rem/1.40 clarendonLight, Georgia;
}

h2 {
    font-size:60px;
    color:white;
    text-align: left;
    font: 5.2rem/1.40 clarendonLight, Georgia;
}

.submit{
    background-color:darkblue;
    margin-top:20px;
}

.pincode{
    font-size: 40px;
    width: 200px;
}

.an_image {
    height: 200px;
    width: 230px;
}

.col-md-4 .text{
}

.container{
    background-size: 7px;
    height: 100%;
    width: 100%;
    visibility: visible;

}